.dropdown-menu {
    position: static;
    display: block;
    width: auto;
    margin: 5rem auto;
  }
  
  .dropdown-menu-macos {
    text-align:center;
    display: grid;
    gap: .50rem;
    padding: .5rem;
    border-radius: .75rem;
  }
  .dropdown-menu-macos .dropdown-item {
    border-radius: .25rem;
  }